.table-head {
    background-color: #012C56 !important;
    color: white !important;
}
th{
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
   text-align: center;
}
td{
    text-align: center;
}